
html{
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to top right, #331046, #283145, #263454, #3c638b);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    
}
body{
    flex: 1;
} 

header {
    background-color: transparent;
    padding: 20px 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 35px;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #00aaff;
}

.auth-buttons a {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.auth-buttons .sign-in:hover {
    background-color: #ffffff;
    color: #1c1c2b;
}

.auth-buttons .sign-up:hover {
    background-color: #00aaff;
    color: #ffffff;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 40px;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.hero-buttons .btn {
    text-decoration: none;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 20px;
    transition: background-color 0.3s ease;
}

.hero-buttons .join-now {
    background-color: #00aaff;
}

.hero-buttons .learn-more {
    background-color: transparent;
    border: 2px solid #00aaff;
}

.hero-buttons .join-now:hover, .hero-buttons .learn-more:hover {
    background-color: #008ecc;
}

.hero-image img {
    max-width: 2000px;
    width: 100%;
}
